<div class="container">


<h1>
<strong><%= @post.title%></strong>
</h1>

<p style="color:blue" >
Submitted <%= time_ago_in_words(@post.created_at)%> Ago
    <%if user_signed_in?%>
|  <%=link_to 'Edit',edit_post_path(@post)%>
|  <%=link_to 'Delete',post_path(@post),method: :delete,data:{confirm:'Are you sure?'}%>
      <%end%>
</p>

<p>
 <%= @post.body%>
<hr>
 <div id="comments" >
 		<h2 style="color:blue"><%= @post.comments.count %> Comments</h2>
 		<%= render @post.comments %>
    <hr>
 		<h3>Add a comment:</h3>
 		<%= render "comments/form" %>

 	</div>
</p>

</div>
