<!DOCTYPE html>
<html>
  <head>
    <title>Blog2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="Title">
      <% if current_page?(root_path)%>
      <h2>All Posts</h2>
      <% elsif current_page?(about_path)%>
      <h2>About Page</h2>
      <%= link_to "Back to All Posts",root_path%>
      <% else%>
      <%= link_to "Back to All Posts",root_path%>
      <%end%>

    </div>
    <div class="side">

      <ul>
        <li><a href="http://www.Twitter.com">Twitter</a></li>
        <li><a href="http://www.Facebook.com">Facebook</a></li>
        <li><a href="http://www.Github.com">Github</a></li>
      </ul>
    </div>

<% if user_signed_in?%>
    <div class="content">
      <div class="button">
        <button type="button" name="button"><%= link_to "New Post",new_post_path%></button>
        <button type="button" name="button">							<li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li></button>
      </div>
<% else%>
      <ul class="nav navbar-nav pull-right">
              <li><%= link_to 'Sign up', new_user_registration_path %></li>
              <li><%= link_to 'Sign in', new_user_session_path %></li>
            </ul>
    <%end%>


      <% flash.each do|name,msg| %>
      <%=content_tag(:div,msg,class:"alert")%>
      <%end%>
          <%= yield %>
    </div>

  </body>
</html>
